config/nvim
config/qtile
config/emacs
config/lukemacs/eln-cache
config/lukemacs/elpaca
config/lukemacs/auto-save-list
config/lukemacs/history
config/lukemacs/config.el
config/lukemacs/tutorial
config/lukemacs/transient
config/lukemacs/tabsession.el
config/lukemacs/org-roam.db


