@define-color bg    #2d353b; 
@define-color fg    #d3c6aa; 
@define-color blk   #232a2e; 
@define-color red   #e67e80; 
@define-color grn   #a7c080; 
@define-color ylw   #dbbc7f; 
@define-color blu   #7fbbb3; 
@define-color mag   #d699b6; 
@define-color cyn   #83c092; 
@define-color brblk #475258; 
@define-color white #ffffff; 

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    all:unset;
}

.modules-left {
    padding: 3px;
    border-radius: 10px;
    border: 3px solid @cyn;
    background-color: @bg;
}

.modules-center {
    padding: 3px;
    border-radius: 10px;
    border: 3px solid @cyn;
    background-color: @bg;
}

.modules-right {
    padding: 3px;
    border-radius: 10px;
    border: 3px solid @cyn;
    background-color: @bg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
}
#workspaces button.active {
    color: @cyn;
}
#workspaces button.empty {
    color: @white;
}
#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

#window {
    color: @fg;
}


button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @fg;
}

#battery {
    color: @mag;
}

#disk {
    color: @ylw;
}

#memory {
    color: @grn;
}

#cpu {
    color: @grn;
}

#network {
    color: @blu;
}

#pulseaudio {
    color: @blu;
}

#custom-notification {
    color: @mag;
    padding: 0 2px 0 1px;
    font-size: 20px;
}

#tray {
    background-color: #2980b9;
}


